@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

body {
    color: rgb(0, 0, 0);
    font-family: 'Rock Salt', cursive;
}


nav {
    color: white;
    height: 60px;
    width: 100%;
    display:flex ;
    background:url(images/nav-bg.jpg);
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

nav h1 {
    margin-left: 60px;
    font-size: 36px;
}

nav ul {
    margin-right: 60px;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 50px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scrool;
}

.hero h1 {
    color: white;
    border-bottom: 5px solid white;
    font-weight: bold;
}

main {
    text-align: center;
}

article .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

article div {
    width: 33%;
    margin-top: 5px;
}

article div img {
    width: 100%;
    height: 100%;
}
aside {
    background-color: rgb(150, 150, 150);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    width: 22%;
    padding-top: 10px;
    height: 400px;
    margin: auto;
}

aside img {
    border-radius: 20px 20px 0 0;
    width: 90%;
    height: 60%;
}

.detail h1, p{
    margin-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
}




